<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730343140366-ljfgjb6bn2q59kk1j3gkiiqvasvgk0eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730343140366-ljfgjb6bn2q59kk1j3gkiiqvasvgk0eg</string>
	<key>API_KEY</key>
	<string>AIzaSyB5S5GzQPPBQ9SPbfwVcbFBsPi2tCNU6XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>730343140366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>fluttertodo-5fe77</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertodo-5fe77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730343140366:ios:36ca1652fbd8df0fee605f</string>
</dict>
</plist>